<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257457805218-ejgicvbt868bral8uae8o1du5vo6bsj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257457805218-ejgicvbt868bral8uae8o1du5vo6bsj1</string>
	<key>API_KEY</key>
	<string>AIzaSyDs60PA7HSllTbNTTuLH8eIFLOHEjNaUSk</string>
	<key>GCM_SENDER_ID</key>
	<string>257457805218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anotherCMC.SurfMate-iOS</string>
	<key>PROJECT_ID</key>
	<string>surfmate-ebaf6</string>
	<key>STORAGE_BUCKET</key>
	<string>surfmate-ebaf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257457805218:ios:e5bed2f9df348fcfe944fb</string>
</dict>
</plist>